doctype html
html(ng-app='homeApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Inicio
    link(rel='stylesheet', href='/stylesheets/homepage.css')
    link(rel='stylesheet', href='/components/Materialize/dist/css/materialize.min.css')

    script(type='text/javascript', src='/components/modernizr-min/dist/modernizr.min.js')
    script(type='text/javascript', src='/components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/components/angular/angular.min.js')
    script(type='text/javascript', src='/components/Materialize/dist/js/materialize.min.js')
    script(type='text/javascript', src='/components/angular-materialize/src/angular-materialize.js')
    script(type='text/javascript', src='/javascripts/homepage.js')
  body
    main
      .container(ng-controller='mainController')
        .row
          .section.col.s4
            div(input-field='')
              select(ng-model='select.value', material-select='')
                option(ng-repeat='value in select.choices') {{value}}
          .section.col.s8
            h5
              | You selected: 
              b {{select.value}}
        input-field
          input(type='text', ng-model='dummyInputs.inputFieldInput')
          label Input label
        input-field
          textarea.materialize-textarea(ng-model='dummyInputs.textAreaInput')
          label Textarea