doctype html
html(ng-app='loginApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Registro de Inicio
    link(rel='stylesheet', href='/components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/fonts/fonts.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/components/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/login.css')

    script(type='text/javascript', src='/components/modernizr-min/dist/modernizr.min.js')
    script(type='text/javascript', src='/components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/components/angular/angular.min.js')
    script(type='text/javascript', src='/components/angular-route/angular-route.min.js')
    script(type='text/javascript', src='/components/Materialize/dist/js/materialize.min.js')
    script(type='text/javascript', src='/components/angular-materialize/src/angular-materialize.js')
    script(type='text/javascript', src='/primus/primus.io.js')
    script(type='text/javascript', src='/javascripts/login.js')
  body
    div.mdl-grid
      div.demo-card-wide.mdl-card.mdl-shadow--3dp(ng-controller='mainController')
        div.mdl-card__title
          // <h2 class="mdl-card__title-text">Registro de Inicio</h2>
        form(name='loginForm', ng-submit='login(credentials)', novalidate='')
          div.container
            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input#username.mdl-textfield__input(type='email', ng-model='credentials.email')
              label.mdl-textfield__label(for='username')
                i.icomoon.icon-user
                |  Correo:
              span.mdl-textfield__error Correo
            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input#password.mdl-textfield__input(type='password', ng-model='credentials.password')
              label.mdl-textfield__label(for='password')
                i.icomoon.icon-lock
                |  Contraseña:
            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='remember')
              input#remember.mdl-checkbox__input(type='checkbox', ng-model='credentials.remember')
              span.mdl-checkbox__label Recordar
            div.space
            button.mdl-button--colored.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(ng-disabled='!loginForm.$valid', type='submit')
              span(ng-show="sendButtonText == 'Verificar'")
              | {{ sendButtonText }}
